* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

body {
  background: #fff;
  font-family: sans-serif;
  height: 100vh;
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: column;
}

body .container {
  flex: 1;
}

.container {
  max-width: 1440px;
  margin: 0 auto;
}

footer {
  background-color: #120962;
  color: #fff;
  height: 50vh;
}

footer .container {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 100%;
}

.footer hr {
  width: 100vw;
  margin-left: calc(-50vw + 50%);
  border: none;
  border-top: 1px solid #fff;
  margin-top: 20px;
  margin-bottom: 20px;
}

footer a {
  text-decoration: none;
  color: #fff;
}

.footer .container .footer-imgs {
  display: flex;
  justify-content: space-between;
  padding: 60px 0 0 0;
  align-items: center;
  height: auto;
}

.footer-imgs .logo {
  display: flex;
  align-items: center;
  height: 100%;
}

.footer-imgs .logo p {
  font-size: 2rem;
}

.footer .container .footer-imgs img {
  height: 50px;
  width: 50px;
  margin-right: 20px;
}

.socials {
}

.footer-links {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr 1.5fr;
  justify-content: space-between;
  padding: 30px;
}

h4 {
  font-size: 1.3rem;
  font-weight: 200;
  margin-bottom: 5px;
  /* border-bottom: #fff solid 1px; */
}

h4 .underline {
  padding-bottom: 3px;
  border-bottom: 2px solid #fff;
}

.footer-links ul {
  list-style: none;
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.footer-links ul li a {
  padding: 10px 0;
}

.footer-links input {
  padding: 8px;
  width: 100%;
  display: block;
  margin-bottom: 5px;
  border: #fff 1px solid;
  border-radius: 5px;
  background: #120962;
}

.subscribe {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

button {
  padding: 8px;
  width: 100%;
  font-weight: bolder;
}

.copyright {
  background-color: #0a0445;
  display: flex;
  justify-content: space-between;
  padding: 20px;
  width: 100vw;
}

.copyright .container{
  color: #fff;
  display: flex;
  justify-content: space-between;
}